rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

   match /struk/{document=**} {
      allow read: if true; 
      allow write: if isSignedIn();
    }
    match /deleted_struk/{document=**} {
      allow read: if true; 
      allow write,delete,update,create: if isSignedIn();
    }
  match /antrian/{document=**} {
      allow read: if true; 
      allow write,delete,update: if isSignedIn();
    }
  match /categories/{document=**} {
      allow read: if true; 
      allow write: if isSignedIn();
    }
    match /users/{document=**} {
      allow read: if true; 
      allow write: if isSignedIn();
    } match /pemasukan/{document=**} {
      allow read: if true; 
      allow write: if isSignedIn();
    } match /pengeluaran/{document=**} {
      allow read: if true; 
      allow write: if isSignedIn();
    }
    match /menu_items/{document=**} { 
    allow read : if true;
      allow  write: if   request.resource.data["custom_order"]==true|| isSignedIn()&& get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role=="admin" ;
    }
    match /ingredients/{document=**} { 
    allow read : if true;
      allow  write: if isSignedIn()&& get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role=="admin" ;
    }
    match /input_stocks/{document=**} { 
    allow read : if true;
      allow  write: if isSignedIn()&& get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role=="admin" ;
    }
    match /laci_harian/{document=**} { 
    allow read : if true;
      allow  write: if isSignedIn()&& get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role=="admin" ;
    }
    
    match /current_input_stocks/{document=**} { 
    allow read : if true;
      allow  write: if isSignedIn()&& get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role=="admin" ;
    }
  }

function isSignedIn(){
return request.auth!=null;
} 
}